* {
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  margin: auto;
}
body {
  background: url('https://d4804za1f1gw.cloudfront.net/wp-content/uploads/sites/16/2017/04/29105917/iStock-476545960.jpg');
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: rgba(255, 50, 58, 0.3);
}

.btn {
  background-color: rgba(58, 1, 1, 0.7);
  border-radius: 5px;
  border: none;
  color: white;
  margin: 2rem;
  padding: 5rem 5rem;
  font-size: 1.2rem;
  font-family: inherit;
  text-align: center;
}

.btn:hover {
  opacity: 0.5;
  background-color: blue;
}

.btn:focus {
  outline: none;
}

@media screen and (max-width: 400px) {
  .btn {
    padding: 2rem 2rem;
  }
}
